@charset "UTF-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

:root {
  --colorwhite: #f7f9fb;
  --colorblack: #2c3e50;
  --color01: #255b9b;
  --color02: #a4d8e1;
  --color03: #f1c40f;

  --defaultFont: "Roboto", sans-serif;
  --titleFont: "Montserrat", sans-serif;
}

body {
  height: 100vh;

  display: grid;
  place-items: center;

  font-family: var(--defaultFont);
  color: var(--colorblack);
  background: var(--colorwhite);
}

.todoapp {
  max-height: 90vh;
  overflow: hidden;

  padding: 2rem;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.todoapp__title {
  margin-bottom: 1rem;

  font-family: var(--titleFont);
  font-size: 2rem;
  color: var(--color01);
  text-align: center;
}

.todoapp__title strong {
  font-weight: bold;
}

.todoapp__input-container {
  margin-bottom: 1rem;
}

#todoapp-addTask,
#todoapp-editTask {
  padding: 8px;

  border-bottom: 2px solid var(--color01);
}

#button-Add,
#button-Edit {
  padding: 8px;

  border-radius: 30% 70% 63% 37% / 27% 32% 68% 73%;

  color: var(--colorwhite);
  background: var(--color01);
}

.todoapp__tasks-list {
  max-height: calc(90vh - 50px);
  overflow-y: auto;

  display: flex;
  flex-flow: column nowrap;

  gap: 16px;
}

.todoapp__task {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px;
  border: 2px solid var(--color01);
}

.task-LeftSide {
  display: flex;
  align-items: center;
}

.todoapp__task--done {
  color: #9b9b98;
  text-decoration: line-through;
}

#edit-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.todoapp__button--cancel {
  display: flex;
  gap: 4px;
}

.hide {
  display: none !important;
}
